@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Tinos:wght@700&display=swap');
*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: monospace, arial, sans-serif;
  color: blanchedalmond;
}

header {
  background-color: darkred;
  color: black;
  padding: 3%;
  text-align: center;
}

header h1 {
  font-family: tinos;
  font-size: 8em;
  text-transform: uppercase;
  text-decoration: underline;
  text-shadow: 2px 2px blanchedalmond;
}

header h2 {
  font-size: 1.6em;
  font-family: Orbitron, georgia, times, serif;
  text-decoration: underline;
}


nav {
  background-color:black;
  text-align: center;
}

nav a:link {
  background-color: black;
  color: #555;
  padding: 1% 2%;
  display:inline-block;
  text-decoration: overline;
}

nav a:visited {
  color: #555;
}

nav a:hover {
  color: blanchedalmond;
  background-color: darkred;
}

nav a.active {
  color: blanchedalmond;
  background-color: darkred;
}

a:link {
  background-color: black;
  color: #555;
  padding: 1% 2%;
  display:inline-block;
  text-decoration: overline;
}

a:visited {
  color: #555;
}

a:hover {
  color: blanchedalmond;
  background-color: darkred;
}

a.active {
  color: blanchedalmond;
  background-color: darkred;
}

article.bio {
  padding: 2%;
  margin-left: 32%;
  margin-right: 32%;
}

article.readings {
  line-height: 5vh;
  padding: 2%;
  margin-left: 32%;
  margin-right: 32%;
}

article.assignments {
  line-height: 5vh;
  padding: 2%;
  margin-left: 35%;
  margin-right: 35%;
}

article h1 {
  font-size: 38px;
  text-transform: capitalize;
  margin-bottom: 0.5%;
}

article h2 {
  font-size: 28px;
  text-transform: capitalize;
  margin-bottom: .5%;
}

article p {
  margin-bottom: 5%;
  font-size: 18px;
  line-height: 24px;
}

div {
  background: url(../images/artbackground.png) no-repeat center center;
  background-size: cover;
}

section.parent {
  margin:auto;
  background: Inherits;
  background-size: cover;
  height: 100vh;
  width: 100vh;

  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}

/* article {
	color: #fff;
	border-radius: 10px;
	padding: 20px;
	font-size: 4vmax;
} */

.a1 {
  color: #fff;
	border-radius: 10px;
	padding: 20px;
	font-size: 4vmax;
  padding: 11% 0;
  background: url(../images/art1.png) no-repeat center left;
  background-size: contain;
}

.a2 {
  color: #fff;
	border-radius: 10px;
	padding: 20px;
	font-size: 4vmax;
  padding: 11% 0;
  background: url(../images/art2.jpg) no-repeat center center;
  background-size: contain;
}

.a3 {
  color: #fff;
	border-radius: 10px;
	padding: 20px;
	font-size: 4vmax;
  padding: 11% 0;
  background: url(../images/art3.jpg) no-repeat center right;
  background-size: contain;
}

.a4 {
  color: #fff;
	border-radius: 10px;
	padding: 20px;
	font-size: 4vmax;
  padding: 11% 0;
  background: url(../images/art4.jpg) no-repeat center center;
  background-size: contain;
}

.a5 {
  color: #fff;
	border-radius: 10px;
	padding: 20px;
	font-size: 4vmax;
  padding: 11% 0;
  background: url(../images/art5.png) no-repeat center center;
  background-size: contain;
}

.a6 {
  color: #fff;
	border-radius: 10px;
	padding: 20px;
	font-size: 4vmax;
  padding: 11% 0;
  background: url(../images/art6.jpg) no-repeat center center;
  background-size: contain;
}

.a7 {
  color: #fff;
	border-radius: 10px;
	padding: 20px;
	font-size: 4vmax;
  padding: 11% 0;
  background: url(../images/art7.jpg) no-repeat center right;
  background-size: contain;
}

.a8 {
  color: #fff;
	border-radius: 10px;
	padding: 20px;
	font-size: 4vmax;
  padding: 11% 0;
  background: url(../images/art8.png) no-repeat center center;
  background-size: contain;
}

.a9 {
  color: #fff;
	border-radius: 10px;
	padding: 20px;
	font-size: 4vmax;
  padding: 11% 0;
  background: url(../images/art9.jpg) no-repeat center left;
  background-size: contain;
}
